/** Clickfunnels Landing Page CSS **/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #2E2E2E;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
strong{
    color: #A10B0B;
}
video {
    width: 100%;
    height: auto;
  }
.fas{
    color: #A10B0B;
}
/* Header CSS */
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.heading-img{
    height: 500px;
    background: url("../assets/croppedclean.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}
.heading-context{
    margin-left: -5em;
    justify-self: start;
    padding: 5em;
}
.heading-context h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 700px;
    line-height: 1.2em;
    margin-bottom: 1em;
}
.heading-context p{
    font-size: 1em;
    margin-bottom: 3em;
}
.heading-context a{
    color: #fff;
    background: #A10B0B;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    padding: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

/* Skills section */
.skill-container{
    width: 100%;
}
.bg-overlay{
    height: 100%;
    width: 100%;
    background: #FFF3F3;
    opacity: .9;
}
.bg{
    height: 100%;
    width: 100%;
    background: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.skill-content{
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr minmax(300px,2fr) minmax(300px,2fr) 1fr;
}
.skill-content h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 700px;
    color: #131313;
    grid-column: 1/-1;
    text-align:center;
    margin: 0;
}
.skill-content p{
    grid-column: 1/-1;
    text-align: center;
}
.skill-left{
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}
.skill-left h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.skill-right{
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}
.skill-right h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
}
.skill-content ul{
    margin: 0;
    list-style-type: none;
}

/* Split Section */

#wrapper{
    position: relative;
    width: 100%;
    min-height: 40vw;
    overflow: hidden;
}
.layer{
    position: absolute;
    width: 100vw;
    min-height: 40vw;
    overflow: hidden;
}
.layer .mockup-container, .layer .designed-container{
    position: absolute;
    width: 100vw;
    min-height: 40vw;
}
.layer .mockup-content, .layer .design-content{
    color: #fff;
    width: 25%;
    position: absolute;
    top:50%;
    text-align: center;
}
.layer img{
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.designed{
    z-index: 1;
}

.mockup{
    z-index: 2;
    width: 50vw;
}
.splitter{
    position: absolute;
    height: 100%;
    display: block;
    background: #A10B0B;
    width: 10px;
    top: 0;
    left: 50%;
    z-index: 3;
}
.creativity .mockup{
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.creativity .mockup .mockup-container{
    margin-left: 1000px;
}

/* Second CTA section */
.second-cta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #A10B0B;
    color: #fff;
    padding: 2.5em;
}
.second-cta-content{
    align-self: center;
    justify-self: center;
}
.second-cta-content h3{
    margin-top: .4em;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom : -5px;
}
.second-cta-button{
    align-self: center;
    justify-self: center;
    width: 100%;
}
.second-cta-button a{
    background: #fff;
    color: #A10B0B;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    padding: .5em;
}
/* Video Section */
body.vp-center {
    height: 82% !important;
}
.video{
    position: relative;
    overflow: hidden;
    display: block;
    height: 500px;
    max-width: 600px;
    margin: 0 auto;
}
.video-frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.vid h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    padding-top: 2em;
    margin-bottom: -1.5em;
}
.bg-2-overlay{
    height: 100%;
    width: 100%;
    background: #FFF3F3;
    opacity: .9;
}
.bg-2{
    height: 100%;
    width: 100%;
    background: url("../assets/background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-2 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding-top: 2em;
}
.bg-2 p{
    font-size: 1em;
    text-align: center;
}
.last-cta-button{
    padding-bottom: 4em;
}
.last-cta-button a{
    background: #A10B0B;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    padding: .5em;
    margin: 0 auto;
    width: 40%;
}
/* Footer section */
footer{
    background: #131313;
    color: #fff;
    text-align: center;
    padding: 1em;
}
@media only screen and (max-width: 600px){
    header {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }
    .heading-img{
        position: absolute;
        height: 100%;
        top:15%;
        left:0;
        bottom:0;
        right:0;
        width: 100%;
        z-index: -1;
        opacity: .3;
    }
    .heading-context{
        margin-left: 0;
        padding: 2em;
    }
    .skill-content{
        padding: 2em;
        display: block;
    }
    .second-cta{
        display: block;
    }
    .last-cta-button{
        padding-bottom: 1em;
    }
    .last-cta-button a{
        background: #A10B0B;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        display: block;
        padding: .5em;
        margin: 0 auto;
        width: 60%;
    }
}